button.mantine-contextmenu-item-button {
    gap: var(--mantine-spacing-xs);
}

button.mantine-contextmenu-item-button > div:has(+ .mantine-contextmenu-item-button-title) {
    display: flex;
    margin: 0 !important;
    font-size: 1em !important;
}
